.container-fluid {
  padding: 0;
  padding-bottom: 70px;
}

.songRow {
  background-color: black;
  color: white;
}

.songRow:hover {
  background-color: darkgrey;
}

.songRow:active {
  background-color: grey;
}

.songText {
  font-size: 30px;
  padding: 15px;
  padding-left: 25px;
  margin: 0px;
  border: grey, 1px, solid;
}

.header {
  background: dimgray;
  margin: 0;
  padding: 10px;
  color: white;
}
.footer {
  background: dimgray;
  padding: 10px;
  font-size: 30px;
}
.skipButtons {
  padding-right: 18px;
  padding-left: 18px;
  margin-left: 20px;
  margin-right: 20px;
}
